<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="finance-data">
        <div class="selected-item">
            <h3><%= selectedSymbol %></h3>
            <h3><%= selectedInterval %></h3>
        </div>
        
        <p>
            
            <p><%= userSelection['Meta Data'].text %> ></p>
           
        </p> 
    </div>
</body>
</html>