<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/style.css">
    <title>Chart App</title>
</head>
<body>
    <div class="container">
        <div class="container-head">
            <h3>Select your finance parametre</h3>
        </div>

        <div class="container-body">
            <form action="/" method="post">
                <label for="symbol">Symbol:</label>
                <select name="symbol" id="symbol">
                    <option value="IBM">IBM</option>
                    <option value="AAPL">AAPL</option>
                    <option value="MSFT">MSFT</option>
                    <option value="GOOG">GOOG</option>
                </select>

                <label for="Interval">Interval:</label>
                <select name="interval" id="interval">
                    <option value="5min">5min</option>
                    <option value="10min">10min</option>
                    <option value="15min">15min</option>
                </select>

                <button type="submit">Get Data</button>

            </form>
        </div>
    </div>


</body>
</html>